.leaflet-popup .leaflet-popup-content{
}

.leaflet-container .art-name a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.leaflet-container .art-name a img {
    vertical-align: middle;
    margin-right: 10px;
}

.leaflet-control-custom:hover {
    cursor: pointer;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: aliceblue;
}

.leaflet-popup-content > img {
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.leaflet-popup-content-wrapper .direction-modes {
    text-align: center;
}
